body {
	font-family:Verdana, Geneva, sans-serif;
	background-color:#FFE8E4;
	color:#3D61AB;
}

.bold {
	font-weight:bold;
}

#box {
	border-bottom: 200px solid #E8C59D;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    width: 100px;
	display:none;
	position:relative;
}