body {
	font-family:Verdana, Geneva, sans-serif;
	background-color:#FFE8E4;
	color:#3D61AB;
}

.bold {
	font-weight:bold;
}

#box {
    width: 120px;
    height: 80px;
    background: #9397E5;
    position: relative;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
 }
 
#box:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #9397E5;
    border-bottom: 13px solid transparent;
}