body {
	font-family:Verdana, Geneva, sans-serif;
	background-color:#FFE8E4;
	color:#3D61AB;
}

.bold {
	font-weight:bold;
}

#box {
    width: 96px;
    height: 48px;
    background: #FFFFFF;
    border-color: #000000;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
 }

#box:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #FFFFFF;
    border: 18px solid #000000;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}

#box:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000000;
    border: 18px solid #FFFFFF;
    border-radius:100%;
    width: 12px;
    height: 12px;
 }